@import './palette.scss';

$theme-colors: (
  'white': #ffffff,
  'blue-chill': #0db7c4,
  'downy': #5cc9c1,
  'plantation': #27605b,
  'sirocco': #898f8f,
  'dove-gray': #666666,
  'blumine': #164d61,
  'limed-spruce': #455a64,
);

/* Button styles */
$btn-border-radius-lg: 0px;
$btn-padding-y-lg: 10px;
$btn-padding-x-lg: 50px;
$btn-border-width: 3px;


@import "node_modules/bootstrap/scss/bootstrap";