$white: #ffffff;
$blue-chill: #0db7c4;
$downy: #5cc9c1;
$plantation: #27605b;
$sirocco: #898f8f;
$dove-gray: #666666;
$blumine: #164d61;
$limed-spruce: #455a64;

$theme-colors: (
  'white': #ffffff,
  'blue-chill': #0db7c4,
  'downy': #5cc9c1,
  'plantation': #27605b,
  'sirocco': #898f8f,
  'dove-gray': #666666,
  'blumine': #164d61,
  'limed-spruce': #455a64,
);

/* Button styles */
$btn-border-radius-lg: 0px;
$btn-padding-y-lg: 10px;
$btn-padding-x-lg: 50px;
$btn-border-width: 3px;


@import "node_modules/bootstrap/scss/bootstrap";

.svg {
  filter: invert(1);
  min-width: 20px;
  height: auto;
}

.slider {

}

/* Global styles */

/* Section Content */
.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Home */
.home {
  background-image: url('../assets/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home {
  padding: 150px;
  color: $white;
  position: relative;
  .layer {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .home-quote {
    margin: 40px 0px;
  }
  .home-header {
    display: inline-block;
    border-top: 4px solid $white;
    border-bottom: 4px solid $white;
    .title {
      font-family: 'Raleway', 'sans-serif';
      font-weight: 600;
      font-size: 60px;
    }
    .subtitle {
      font-family: 'Raleway', 'sans-serif';
      font-weight: 300;
      font-size: 30px;
    }
  }
}

.main-title {
  color: $blue-chill;
  // font-family: 'Montserrat', 'sans-serif';
  // font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
}