@import './palette.scss';

.svg {
  filter: invert(100%);
  min-width: 20px;
  height: auto;
}
.flow-children-svg {
  width: 30px;
  height: auto;
}

.downy-svg { filter: invert(91%) sepia(85%) saturate(6791%) hue-rotate(150deg) brightness(83%) contrast(86%); }
.plantation-svg { filter: invert(30%) sepia(11%) saturate(1971%) hue-rotate(126deg) brightness(98%) contrast(87%); }

.common-paragraph {
  font-family: 'Raleway', 'sans-serif';
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
}

/* Global styles */

/* Section Content */
.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  padding: 0.8rem 1rem;
}
.navbar-light .navbar-brand {
  font-family: 'Permanent Marker', cursive; 
  font-size: 35px;
  &:hover {
    color: $downy;
  }
}
.navbar-nav .nav-item .nav-link {
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid $blue-chill;
  }
}

/* Home */
.home {
  background-image: url('../assets/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home {
  color: $white;
  padding: 150px;
  position: relative;
  border-bottom: 3px solid $plantation;
  .layer {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .home-header {
    display: inline-block;
    border-top: 4px solid $white;
    border-bottom: 4px solid $white;
    .title {
      font-family: 'Raleway', 'sans-serif';
      font-weight: 600;
      font-size: 60px;
    }
    .subtitle {
      font-family: 'Raleway', 'sans-serif';
      font-weight: 300;
      font-size: 30px;
    }
  }
  .home-quote {
    margin: 40px 0px;
  }
  .quote {
    font-family: 'Open-Sans', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.02rem;
    opacity: 0.8;
  }
}

/* carousel */
.slider {
  width: 150px;
  margin-top: 40px;
  position: relative;
  .controls .arrows {
    width: 100%;
    height: 100%;
    position: absolute;
    .svg { width: 30px; height: auto; }
    .arrow-left { float: left; }
    .arrow-right { float: right; }
  }
  // .controls .items {
  //   border: 2px solid yellow;
  // }
}

/* global collapse */
.global-collapse-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  bottom: -190px; right: 50%;
  transform: translateX(50%);
  background-color: rgba(255,255,255,.4);
  .global-collapse {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    right: 50%; top: 50%;
    transform: translate(50%, -50%);
    background-color: $plantation;
    border: 2px solid $downy;
  }
}

.global-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  .arrow-down { 
    height: 30px;
    position: absolute;
  }
  .minus { 
    width: 8px;
    position: absolute;
    bottom: 5px;
  }
}

/* Services */
.services {
  padding-top: 120px;
  padding-bottom: 80px;
  .title {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 600;
    font-size: 60px;
  }
  .subtitle {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.2rem;
  }
  .quote {
    font-family: 'Open-Sans', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.02rem;
    opacity: 0.8;
    color: $dove-gray;
  }
  .services-quote {
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .decorator {
    display: inline-flex;
    align-items: center;
    .line {
      width: 250px;
      height: 3px;
      background-color: $downy;
    }
  }
}

/* tabs */
.services-tabs {
  background-image: url('../assets/services-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .nav-pills .active { background-color: transparent; border: 2px solid tomato; }
  .nav-pills .nav-link {
    border-radius: 0px;
    padding: 120px 0px;
    font-family: 'Raleway', 'sans-serif';
    font-size: 20px;
    font-weight: 300;
    color: $white;
  }
}

.services-tab-content {
  padding: 80px 0px 100px;
  .content-header {
    display: inline-flex;
    justify-content: center;
    .content-title {
      font-family: 'Raleway', 'sans-serif';
      font-weight: 500;
      font-size: 24px;
      color: $plantation;
      margin-bottom: 0;
    }
    .flow-children-svg {
      height: 100%;
      margin-left: .4rem;
    }
  }
  .content-description {
    margin-top: 30px;
  }
}

.main-title {
  color: $blue-chill;
  // font-family: 'Montserrat', 'sans-serif';
  // font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
}