@import './palette.scss';

.svg {
  filter: invert(1);
  min-width: 20px;
  height: auto;
}

/* Global styles */

/* Section Content */
.section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Navbar */
.navbar {
  padding: 0.8rem 1rem;
}

/* Home */
.home {
  background-image: url('../assets/home-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.home {
  color: $white;
  padding: 150px;
  position: relative;
  border-bottom: 4px solid $downy;
  .layer {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
  }
  .home-header {
    display: inline-block;
    border-top: 4px solid $white;
    border-bottom: 4px solid $white;
    .title {
      font-family: 'Raleway', 'sans-serif';
      font-weight: 600;
      font-size: 60px;
    }
    .subtitle {
      font-family: 'Raleway', 'sans-serif';
      font-weight: 300;
      font-size: 30px;
    }
  }
  .home-quote {
    margin: 40px 0px;
  }
}

/* carousel */
.slider {
  width: 150px;
  margin-top: 40px;
  position: relative;
  .controls .arrows {
    width: 100%;
    height: 100%;
    position: absolute;
    .svg { width: 30px; height: auto; }
    .arrow-left { float: left; }
    .arrow-right { float: right; }
  }
  // .controls .items {
  //   border: 2px solid yellow;
  // }
}

/* global collapse */
.global-collapse-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  bottom: -190px; right: 50%;
  transform: translateX(50%);
  background-color: rgba(255,255,255,.4);
  .global-collapse {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    right: 50%; top: 50%;
    transform: translate(50%, -50%);
    background-color: $plantation;
    border: 2px solid $downy;
  }
}

.global-collapse {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;
  .arrow-down { 
    height: 30px;
    position: absolute;
  }
  .minus { 
    width: 8px;
    position: absolute;
    bottom: 5px;
  }
}

.main-title {
  color: $blue-chill;
  // font-family: 'Montserrat', 'sans-serif';
  // font-family: 'Raleway', sans-serif;
  font-family: 'Open Sans', sans-serif;
}