$white: #ffffff;
$blue-chill: #0db7c4;
$downy: #5cc9c1;
$plantation: #27605b;
$sirocco: #898f8f;
$dove-gray: #666666;
$blumine: #164d61;
$limed-spruce: #455a64;

$theme-colors: (
  'white': #ffffff,
  'blue-chill': #0db7c4,
  'downy': #5cc9c1,
  'plantation': #27605b,
  'sirocco': #898f8f,
  'dove-gray': #666666,
  'blumine': #164d61,
  'limed-spruce': #455a64,
);

@import "node_modules/bootstrap/scss/bootstrap";

.main-title {
  color: $blue-chill;
}